<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DosCuerdasEntities" connectionString="metadata=res://*/DosCuerdas.csdl|res://*/DosCuerdas.ssdl|res://*/DosCuerdas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-U5JBHVG\SQLEXPRESS;initial catalog=DosCuerdas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>